<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='sytle.css') }}">
    <link href="https://fonts.cdnfonts.com/css/russian" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
    <title>toxiscan.com</title>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
     <script>
        $(function() {
            $("#navbar").load("{{ url_for('static', filename='navbar.html') }}");
            $("#footer").load("{{ url_for('static', filename='footer.html') }}");
        });
   </script>
</head>

<body style="font-family: 'Trebuchet MS', sans-serif;">
    <header class="header1">
        <div id="navbar" ></div>
    </header>
    <main>
        <section id="sample">
            <div class="contaier-fluid ">
                <div class="exlipse1">
                </div>
            </div>
        </section>
        <section id="features">
            <div class="contaier-fluid ">
                <div class="div4">
                    <div class="div5">
                        <img src="{{ url_for('static', filename='assets/toxi-scan-logo-zip-file/png/logo-no-background.png') }}" class="img1">
                        <p class="p1">We Provide
                            <a href="" class="typewrite " data-period="2000"
                                data-type='[ "Solutions.", "Results.", "Simplicity.", "Toxic Free Social Media" ]'>
                                <span class="wrap p01"></span>
                            </a>

                        </p>

                    </div>
                </div>
        </section>
        <section id="layouts">
            <div class="contaier-fluid ">
                <div class="exlipse2">
                </div>
                <div class="rec1 pm">
                    <div class="pmainContainer">
                        <div class="pmainCard">
                            <div class="div10">
                                <div class="pmainHead">
                                    <img class="pmainImg" src="{{ url_for('static', filename='assets/toxic.png') }}" alt="Image">
                                </div>
                                <div class="pmainbody">
                                    <h4 class="ph4">To Check the Toxicity of the Sentence </h4>
                                    <a href="scan"><button type="button" class="project-page ph5">Click Here </button></a>
                                </div>
                            </div>
                        </div>
                        <div class="pmainCard">
                            <div class="div10">
                                <div class="pmainHead">
                                    <img class="pmainImg" src="{{ url_for('static', filename='assets/paraphrase.png') }}" alt="Image">
                                </div>
                                <div class="pmainbody">
                                    <h4 class="ph4">To Paraphrase Sentence into Usable Form</h4>
                                    <a href="paraphrase"><button class="project-page ph5">Click Here</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <div id="footer" ></div>
    </main>
</body>

</html>